body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;;
}

.container {
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
.container2 {
     padding: 20px;
 margin: 20px;
 text-align: center;
 border: 2px solid black;
 border-radius: 10px;

}
.box2 {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: lightgray;
}
.box2 p {
  font-size: 24px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  background-color: black;
  color: white;
}
#meassge2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: lightgray;
}

.box p {
  font-size: 24px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  background-color: black;
  color: white;
}
#meassge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  transform: transition all 0.3s ease;
}
.box2 button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  transform: transition all 0.3s ease;
}

.box button:hover {
  background-color: darkblue;
  transform: scale(1.05);
}
